<p><%= comment.text %></p>
<h6>Likes! (<%= comment.votes.count %>)</h6>
<%= link_to "Reply", article_comment_new_reply_path(comment.article, comment) %>
<%= link_to "Edit!", edit_article_comment_path(comment.article, comment) %>
<%= link_to "Delete!", article_comment_path(comment.article, comment), method: :delete %>
<%= render partial: "comments/vote", locals:{comment: comment} %>
