<p class='likes'>Likes! (<%= comment.votes.count %>)</p><br>
<p class='content'><%= comment.text %></p>
<h5>by: <%= comment.commenter.handle %></h5>

<% if session[:user_id] %>
  <%= link_to "Reply", article_comment_new_reply_path(comment.article, comment) %>
  <%= render partial: "comments/vote", locals:{comment: comment} %>
<% end %>

<% if session[:user_id] == comment.commenter.id %>
  <%= link_to "Edit", edit_article_comment_path(comment.article, comment) %>
  <%= link_to "Delete", article_comment_path(comment.article, comment), method: :delete %>
<% end %>
