<div class= "article">
  <h3><%= article.title %></h3>
  <h3>written by: <%= article.author.handle %></h3>
  <p>Likes! <%= article.votes.count %></p>
  <%= render partial:'vote', locals:{article:@article}  %>
  <%= link_to "Edit", edit_article_path(article) %>
  <%= link_to "Delete", article_path(article), method: :delete %>
  <p><%= article.content %></p>
  <%= render template: "comments/index", locals:{comments: article.comments} %>
</div>