<div class='articles'>
  <% if session[:user_id] %>
    <%= link_to "New Article", new_article_path %><br><br>
  <% end %>
  <% if @recent_articles %>
  <h2>Recent Articles</h2>
    <% recent_articles.each do |article| %>
      <%= link_to "#{article.title}", article_path(article)%>
        <div class="article_info">posted by: <%= article.author.handle %> on <%= article.created_at %></div>
        <div class='content'><%= article.content_preview %></div>
        <br>
    <%end%>

  <% else %>
    <% articles.each do |article| %>
      <%= link_to "#{article.title}", article_path(article)%>
        <div class="article_info">posted by: <%= article.author.handle %> on <%= article.created_at %></div>
        <div class='content'><%= article.content_preview %></div>
    <%end%>

  <% end %>

  <% if @popular_articles %>

  <h2>Popular Articles</h2>
    <% popular_articles.each do |article| %>
      <%= link_to "#{article.title}", article_path(article)%>
      <div class="article_info">posted by: <%= article.author.handle %> on <%= article.created_at %></div>
        <div class='content'><%= article.content_preview %></div>
        <br>
    <%end%>
  <% end %>

</div>