<div id='profile_container'>
	<div class='user_card'>
	<img id='profile_img'src='/imgs/profile_photo.jpg'>
		<p>
			<h4><%= @user.handle %></h4>
			Articles Posted: <%= @user.articles.count %><br>
			Likes: <%= @user.votes.count %><br>
			Join Date: <%= @user.created_at %><br>
		</p>
	</div>
	<br>
	<br>
	<h3>Recent Articles</h3>
	<% @articles.each do |article| %>
      <%= link_to "#{article.title}", article_path(article)%>
        <div class="article_info"><%= article.created_at %></div>
        <div class='content'><%= article.content_preview %></div>
        <br>
    <%end%>
</div>