<div class="navbar-brand">
<a href="/"><%= image_tag("gmcntrlr.png") %></a>
  <h1 class="web-title">GameOverflow</h1>
</div>
<div id='cssmenu'>

  <ul>
    <li><span><%= link_to "Articles", articles_path %></span></li>
    <li><span><%= link_to "Games", games_path %></span></li>
    <li class='active has-sub'><span><%= link_to "Consoles", consoles_path %></span>
      <ul>
        <li class='has-sub'><a href='#'><span>Product 1</span></a>
        </li>
        <li class='has-sub'><a href='#'><span>Product 2</span></a>
        </li>
      </ul>
    </li>
    <li class='active has-sub'><span><%= link_to "Genres", genres_path %></span>
      <ul>
        <li class='has-sub'><a href='#'><span>Product 1</span></a>
        </li>
        <li class='has-sub'><a href='#'><span>Product 2</span></a>
        </li>
      </ul>
    </li>


      <% if session[:user_id] %>

      <li><span><%= link_to "My Profile", user_path(session[:user_id]) %></span></li>

      <li class="user-action"><span><%= link_to "Log Out", logout_path %></span></li>
      <% else %>
      <li class="user-action"><span><%= link_to "Sign Up", signup_path %></span></li>
      <li class="last user-action"><span><%= link_to "Log In", login_path %></span></li>
      <% end %>


  </ul>
</div>