<div class="navbar navbar-inverse">
  <h1 class="web-title">GameOverflow</h1>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag("gmcntrlr.png") %></a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Articles", articles_path %></li>
      <% if session[:user_id] %>
      <li><%= link_to "Log Out", logout_path %></li>
      <% else %>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>