<div class="navbar-brand">
<a href="/"><%= image_tag("gmcntrlr.png") %></a>
  <h1 class="web-title"><a href="/">GameOverflow</a></h1>
</div>
<div id='cssmenu'>

  <ul>
    <li><span><%= link_to "Articles", articles_path %></span></li>
    <li class='active has-sub'><span><%= link_to "Games", games_path %></span>
      <ul>
        <% Game.all.each do |game| %>

          <li class='has-sub'><span><%= link_to "#{game.title}", game_path(game) %></span></a></li>

        <% end %>
      </ul>
    </li>
    <li class='active has-sub'><span><%= link_to "Consoles", consoles_path %></span>
      <ul>
        <% Console.all.each do |console| %>

          <li class='has-sub'><span><%= link_to "#{console.name}", console_path(console) %></span></a></li>

        <% end %>
      </ul>
    </li>
    <li class='active has-sub'><span><%= link_to "Genres", genres_path %></span>
       <ul>
        <% Genre.all.each do |genre| %>

          <li class='has-sub'><span><%= link_to "#{genre.name}", genre_path(genre) %></span></a></li>

        <% end %>
      </ul>
    </li>


      <% if session[:user_id] %>

      <li><span><%= link_to "My Profile", user_path(session[:user_id]) %></span></li>

      <li class="user-action"><span><%= link_to "Log Out", logout_path %></span></li>
      <% else %>
      <li class="user-action"><span><%= link_to "Sign Up", signup_path %></span></li>
      <li class="last user-action"><span><%= link_to "Log In", login_path %></span></li>
      <% end %>


  </ul>
</div>