<!DOCTYPE html>
<html>
<head>
  <title>GameOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render partial: "layouts/nav" %>
</header>

<div class="jumbotron">
  <%= yield %>
</div>
<%= render partial: "layouts/footer" %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
